@import url("https://fonts.googleapis.com/css2?family=Asimovian&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --color-main: #8a784e;
  --color-secondary: #fffdf6;
}

@keyframes full-slide-from-right {
  from {
    transform: translateX(100%);
  }
}

@keyframes full-slide-to-left {
  to {
    transform: translateX(-100%);
  }
}

::view-transition-old(root) {
  animation-name: full-slide-to-left;
  animation-duration: 900ms;
  animation-timing-function: ease-out;
}

::view-transition-new(root) {
  animation-name: full-slide-from-right;
  animation-duration: 900ms;
  animation-timing-function: ease-out;
}

html {
  background-color: var(--color-secondary);
}

.text-main {
  color: var(--color-main);
}

.text-secondary {
  color: var(--color-secondary);
}

.font-firasans {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-firasans-bold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.font-asimovian {
  font-family: "Asimovian", sans-serif;
}

.bg-main {
  background-color: var(--color-main);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

button.bg-main:hover {
  background: white;
  border: 1px solid var(--color-main);
  color: var(--color-main);
}

.hover.bg-secondary {
  background-color: var(--color-secondary);
}

.navigation-drawer {
  min-height: 100vh;
  width: 200px;
  padding: 20px 10px;
  background-color: var(--color-secondary);

  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;

  box-shadow: 0 0 4px 2px #00000033;
  transform: translateX(-100%);
  transition: transform 350ms;

  z-index: 1000;
}

.navigation-drawer.open {
  transform: translateX(0);
}

#map {
  z-index: 5;
}

.drawer-button {
  padding: 8px;
  border: 0;
  border-radius: 4px;

  display: inline-block;
  background-color: transparent;

  font-weight: bold;
  font-size: 28px;
  color: #141e16;

  cursor: pointer;
}

.nav-list {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 10px 20px;
}

.nav-list li a {
  padding: 6px 10px;

  display: block;
}

/* MAIN */
/* .main-content {
  padding-block: 20px;
} */

/* Write your styles more here */

@media screen and (width > 1000px) {
  .navigation-drawer {
    min-height: auto;
    width: auto;
    padding: 0;
    background-color: transparent;

    flex-direction: row;
    justify-content: space-between;

    position: static;
    box-shadow: none;
    transform: translateX(0);
  }

  .nav-list {
    flex-direction: row;
  }

  .nav-list li a {
    display: inline-block;
  }

  .drawer-button {
    display: none;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.spinner {
  animation: spin 2s linear infinite;
}

.alert-absolute {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
  animation: fade 0.8s ease-in-out;
}

.alert-fixed {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 100;
  animation: fade 0.8s ease-in-out;
}

#icon-story-item {
  font-size: 20px;
}
